/*bg-dark text-light" : "bg-light text-dark*/

.bg-dark{
  background-color: darkslategray;
}

.bg-light{
  background-color: aliceblue !important;
}

.text-light{
  color:aliceblue;
}

.text-dark{
  background-color: darkslategrey;
}